@tailwind base;
@tailwind components;
@tailwind utilities;

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.border-gradient {
  --angle: 0deg;
  padding: 20px;
  width: 100%;
  border: 5px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(var(--angle), #12e4f3, #d53a9d);
  animation: 5s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}
